.display-2 {
  font-size: calc(1.2rem + 3.9vw);
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin: 50px auto;
  background-color: rgba(248, 249, 250, 1);
  border-radius: 0.25rem;
  padding: 25px;
}

.gallery > .image {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
}

.gallery > .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.gallery .image h5 {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 10px;
}

.full-image {
  display: none;
}

.gallery > .image:hover {
  width: 100%;
  transition: 0.3s transform;
  z-index: 1;
}

.gallery > .image > img:hover {
  z-index: 1;
}

.gallery > .image:hover .cover {
  opacity: 0;
}

.gallery > .image:hover .full-image {
  display: block;
  height: auto;
}

.gallery > .image:hover h5 {
  display: block;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }

  .gallery > .image:hover {
    transform: scale(1.3, 1.3);
    transition: 0.3s transform;
  }
}
