body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* !!BOOTSTRAP OVERWRITE */
p {
  text-align: justify;
}

.list-group-item-primary {
  color: #050505;
}

.list-group-flush .list-group-item {
  background-color: #cff4fc47;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* # BOOTSTRAP MODIFY */
.carousel .carousel-item {
  max-height: 70vh;
}